    <div class="row mb-3">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card p-3">
            <div class="card-body p-3">
                <i class="ri-more-fill"></i>
                <div class="top d-flex">
                    <div class="left">

                        <img src="../../../assets/old-ipad-eecdbce9345f262fb4bd3f94a8dd5939.png" alt="">
                    </div>
                    <div class="right">
                        <h4>Ipad</h4>
                        <div class="mode d-flex">
                            <div class="circle bg-warning"></div>
                            <p class="mt-3 text-danger">iPad offline</p>
                        </div>
                        <p>
Try turning Wi-Fi off and back on in iPad settings. Learn how.
</p>
                    </div>
                </div>
                <div class="bottom d-flex">
                    <div class="left">
                        
<p>Device  type: </p> 
<p>iOS  version:</p>  
<p>IP address:</p> 
<p>Visitors version:</p>

                    </div>
                   
                    <div class="right">
                        <p>iPad8,6</p>
                        <div  class="d-flex "><div class="circle bg-success d-inline"> </div>
                        <span class="mx-1">16.2</span>
                        
                    </div>
                    <div  class="d-flex mt-3 "><div class="circle bg-warning d-inline"> </div>
                    <span class="mx-1">Disconnected</span>
                    
                </div>
                <div  class="d-flex mt-3 "><div class="circle bg-success d-inline"> </div>
                <span class="mx-1">4.3.2</span>
                
            </div>
                    
                    
                </div>
            </div>
          </div>
        </div>
       
      </div>
      <div class="col-sm-6 ">
        <div class="card p-3">
          <div class="card-body p-3">
              <i class="ri-more-fill"></i>
              <div class="top d-flex">
                  <div class="left">

                      <img src="../../../assets/old-ipad-eecdbce9345f262fb4bd3f94a8dd5939.png" alt="">
                  </div>
                  <div class="right">
                      <h4>Ipad</h4>
                      <div class="mode d-flex">
                          <div class="circle bg-warning"></div>
                          <p class="mt-3 text-danger">iPad offline</p>
                      </div>
                      <p>
Try turning Wi-Fi off and back on in iPad settings. Learn how.
</p>
                  </div>
              </div>
              <div class="bottom d-flex">
                  <div class="left">
                      
<p>Device  type: </p> 
<p>iOS  version:</p>  
<p>IP address:</p> 
<p>Visitors version:</p>

                  </div>
                 
                  <div class="right">
                      <p>iPad8,6</p>
                      <div  class="d-flex "><div class="circle bg-success d-inline"> </div>
                      <span class="mx-1">16.2</span>
                      
                  </div>
                  <div  class="d-flex mt-3 "><div class="circle bg-warning d-inline"> </div>
                  <span class="mx-1">Disconnected</span>
                  
              </div>
              <div  class="d-flex mt-3 "><div class="circle bg-success d-inline"> </div>
              <span class="mx-1">4.3.2</span>
              
          </div>
                  
                  
              </div>
          </div>
        </div>
      </div>
     
    </div>
