
<div class="main">
    <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="heading d-flex mb-5">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM12 11H16V13H12V16L8 12L12 8V11Z" fill="rgba(100,94,103,1)"></path></svg>
            <h2>New ipad</h2>
    </div>
        <div class="submain d-flex">
        <div class="left ">
            <div class="first d-flex">
            <div class="circle d-flex">
                1
            </div>
            <div class="container">
            <span >Get the Visitors Kiosk app</span>
            <p >On your iPad, download the "Envoy Visitors Kiosk" app from the app store, or scan the QR code with your camera.</p>
            <div class="QR">
                <img src="../../../assets/QR.png" alt="">
            </div>
           
            <span>Need an iPad? Purchase one from the <a href="">Envoy store</a> .</span>
        </div>
    </div>
    <div class="first d-flex">
        <div class="circle d-flex">
            1
        </div>
        <div class="container">
        <span class="mx-1">Enter the pairing code</span>
        <p>Open the app on your iPad and enter the six-digit pairing code below.</p>
       <textarea name="" id="" cols="50" rows="4"></textarea>
        <button type="button" routerLink="/newipad" class="btn btn-danger w-25 mt-4">Pair to ipad</button>
    </div>
</div>
        </div>
        <div class="right">
            <img src="../../../assets/phone.png" alt="">
        </div>
    </div>
</div>
</div>  